In [295]:
import pandas as pd

In [296]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [297]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299701 entries, 0 to 299700
Data columns (total 27 columns):
ID                   299700 non-null float64
Usia                 299700 non-null float64
Jenis_Kelamin        272789 non-null object
Waktu_Pendaftaran    299700 non-null object
Waktu_Konsultasi     299700 non-null object
Hari                 299700 non-null object
Dis_1                284039 non-null float64
Dis_2                219259 non-null float64
Dis_3                268364 non-null float64
Dis_4                299700 non-null float64
Dis_5                299700 non-null float64
Dis_6                289339 non-null float64
Dis_7                299700 non-null float64
Dis_8                245009 non-null float64
Dis_9                291734 non-null float64
Dis_10               299700 non-null float64
Dis_11               270455 non-null float64
Dis_12               299700 non-null float64
Dis_13               299700 non-null float64
Dis_14               299700 non-null object
Dis_15               299697 non-null float64
Dis_16               212606 non-null object
Dis_17               233108 non-null object
Subsidi              294184 non-null float64
Sms_Reminder         299700 non-null float64
Salutation           299700 non-null object
Label                299700 non-null float64
dtypes: float64(19), object(8)
memory usage: 61.7+ MB

In [298]:
for column in train.columns:
    print(column, train[column].isnull().sum())

ID 1
Usia 1
Jenis_Kelamin 26912
Waktu_Pendaftaran 1
Waktu_Konsultasi 1
Hari 1
Dis_1 15662
Dis_2 80442
Dis_3 31337
Dis_4 1
Dis_5 1
Dis_6 10362
Dis_7 1
Dis_8 54692
Dis_9 7967
Dis_10 1
Dis_11 29246
Dis_12 1
Dis_13 1
Dis_14 1
Dis_15 4
Dis_16 87095
Dis_17 66593
Subsidi 5517
Sms_Reminder 1
Salutation 1
Label 1

In [299]:
print(train['Label'][train['Label'].isnull()])

195122   NaN
Name: Label, dtype: float64

In [300]:
train[195122:195123]

,ID,Usia,Jenis_Kelamin,Waktu_Pendaftaran,Waktu_Konsultasi,Hari,Dis_1,Dis_2,Dis_3,Dis_4,...,Dis_12,Dis_13,Dis_14,Dis_15,Dis_16,Dis_17,Subsidi,Sms_Reminder,Salutation,Label
195122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [301]:
len(train)

299701

In [302]:
train.drop(train.index[195122], axis=0, inplace=True)

In [303]:
len(train)

299700

In [304]:
for column in test.columns:
    print(column, train[column].isnull().sum())

ID 0
Usia 0
Jenis_Kelamin 26911
Waktu_Pendaftaran 0
Waktu_Konsultasi 0
Hari 0
Dis_1 15661
Dis_2 80441
Dis_3 31336
Dis_4 0
Dis_5 0
Dis_6 10361
Dis_7 0
Dis_8 54691
Dis_9 7966
Dis_10 0
Dis_11 29245
Dis_12 0
Dis_13 0
Dis_14 0
Dis_15 3
Dis_16 87094
Dis_17 66592
Subsidi 5516
Sms_Reminder 0
Salutation 0

In [305]:
train_y = train['Label']
train_x = pd.DataFrame(train.drop('Label', axis=1))

In [306]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299700 entries, 0 to 299700
Data columns (total 26 columns):
ID                   299700 non-null float64
Usia                 299700 non-null float64
Jenis_Kelamin        272789 non-null object
Waktu_Pendaftaran    299700 non-null object
Waktu_Konsultasi     299700 non-null object
Hari                 299700 non-null object
Dis_1                284039 non-null float64
Dis_2                219259 non-null float64
Dis_3                268364 non-null float64
Dis_4                299700 non-null float64
Dis_5                299700 non-null float64
Dis_6                289339 non-null float64
Dis_7                299700 non-null float64
Dis_8                245009 non-null float64
Dis_9                291734 non-null float64
Dis_10               299700 non-null float64
Dis_11               270455 non-null float64
Dis_12               299700 non-null float64
Dis_13               299700 non-null float64
Dis_14               299700 non-null object
Dis_15               299697 non-null float64
Dis_16               212606 non-null object
Dis_17               233108 non-null object
Subsidi              294184 non-null float64
Sms_Reminder         299700 non-null float64
Salutation           299700 non-null object
dtypes: float64(18), object(8)
memory usage: 61.7+ MB

In [307]:
test.head()

,ID,Usia,Jenis_Kelamin,Waktu_Pendaftaran,Waktu_Konsultasi,Hari,Dis_1,Dis_2,Dis_3,Dis_4,...,Dis_11,Dis_12,Dis_13,Dis_14,Dis_15,Dis_16,Dis_17,Subsidi,Sms_Reminder,Salutation
0,12,58,F,30/04/2014 08.04,22/05/2014,Thursday,0.0,2.0,1.0,0.0,...,5.0,0,0,H,0,V,H,1.0,1,Sra.
1,21,33,F,12/03/2014 10.26,15/03/2014,Saturday,NaN,2.0,NaN,0.0,...,5.0,1,0,H,0,NaN,H,0.0,0,Sra.
2,22,44,F,08/04/2015 12.31,10/04/2015,Friday,0.0,2.0,1.0,0.0,...,5.0,1,0,H,0,V,H,0.0,0,Sra.
3,38,57,NaN,10/06/2014 13.42,12/06/2014,Thursday,0.0,2.0,1.0,0.0,...,5.0,1,0,H,0,V,H,0.0,0,Sra.
4,121,36,F,01/10/2014 09.12,08/10/2014,Wednesday,0.0,2.0,1.0,0.0,...,5.0,1,0,H,0,NaN,H,0.0,0,Sra.

In [308]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 26 columns):
ID                   300 non-null int64
Usia                 300 non-null int64
Jenis_Kelamin        275 non-null object
Waktu_Pendaftaran    300 non-null object
Waktu_Konsultasi     300 non-null object
Hari                 300 non-null object
Dis_1                284 non-null float64
Dis_2                249 non-null float64
Dis_3                278 non-null float64
Dis_4                298 non-null float64
Dis_5                298 non-null float64
Dis_6                283 non-null float64
Dis_7                300 non-null int64
Dis_8                256 non-null float64
Dis_9                284 non-null float64
Dis_10               300 non-null int64
Dis_11               282 non-null float64
Dis_12               300 non-null int64
Dis_13               300 non-null int64
Dis_14               300 non-null object
Dis_15               300 non-null int64
Dis_16               223 non-null object
Dis_17               257 non-null object
Subsidi              284 non-null float64
Sms_Reminder         300 non-null int64
Salutation           300 non-null object
dtypes: float64(10), int64(8), object(8)
memory usage: 61.0+ KB

In [309]:
train_test = pd.concat([train_x,test])

In [310]:
train_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 0 to 299
Data columns (total 26 columns):
ID                   300000 non-null float64
Usia                 300000 non-null float64
Jenis_Kelamin        273064 non-null object
Waktu_Pendaftaran    300000 non-null object
Waktu_Konsultasi     300000 non-null object
Hari                 300000 non-null object
Dis_1                284323 non-null float64
Dis_2                219508 non-null float64
Dis_3                268642 non-null float64
Dis_4                299998 non-null float64
Dis_5                299998 non-null float64
Dis_6                289622 non-null float64
Dis_7                300000 non-null float64
Dis_8                245265 non-null float64
Dis_9                292018 non-null float64
Dis_10               300000 non-null float64
Dis_11               270737 non-null float64
Dis_12               300000 non-null float64
Dis_13               300000 non-null float64
Dis_14               300000 non-null object
Dis_15               299997 non-null float64
Dis_16               212829 non-null object
Dis_17               233365 non-null object
Subsidi              294468 non-null float64
Sms_Reminder         300000 non-null float64
Salutation           300000 non-null object
dtypes: float64(18), object(8)
memory usage: 61.8+ MB

In [311]:
missing_columns = []
for col in train_test.columns:
    if train_test[col].isnull().sum()!=0:
        missing_columns.append(col)

In [312]:
missing_columns

['Jenis_Kelamin',
 'Dis_1',
 'Dis_2',
 'Dis_3',
 'Dis_4',
 'Dis_5',
 'Dis_6',
 'Dis_8',
 'Dis_9',
 'Dis_11',
 'Dis_15',
 'Dis_16',
 'Dis_17',
 'Subsidi']

In [313]:
for col in missing_columns:
    print(col, train_test[col].unique())

Jenis_Kelamin ['M' 'F' nan]
Dis_1 [  0.   1.  nan]
Dis_2 [ nan   2.   7.  12.  17.  22.]
Dis_3 [  1.  nan   0.]
Dis_4 [  0.   1.  nan]
Dis_5 [  0.   1.  nan]
Dis_6 [  3.  nan   5.]
Dis_8 [  1.  nan   0.]
Dis_9 [  1.   0.  nan]
Dis_11 [  5.  nan   6.]
Dis_15 [  0.  -2.  -1.   1.  nan]
Dis_16 ['V' nan 'v']
Dis_17 ['H' nan 'h']
Subsidi [  0.   1.  nan]

In [314]:
train_test.Salutation.unique()

array(['D.', 'Sra.', 'Srta.', 'Sr.'], dtype=object)

In [315]:
train_test.Salutation=train_test.Salutation.replace(['D.', 'Sra.', 'Srta.', 'Sr.'],['M','F','F','M'])

In [316]:
train_test.head()

,ID,Usia,Jenis_Kelamin,Waktu_Pendaftaran,Waktu_Konsultasi,Hari,Dis_1,Dis_2,Dis_3,Dis_4,...,Dis_11,Dis_12,Dis_13,Dis_14,Dis_15,Dis_16,Dis_17,Subsidi,Sms_Reminder,Salutation
0,1.0,19.0,M,16/12/2014 14.46,14/01/2015,Wednesday,0.0,NaN,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0,M
1,2.0,24.0,F,18/08/2015 07.01,19/08/2015,Wednesday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,NaN,H,0.0,0.0,F
2,3.0,4.0,F,17/02/2014 12.53,18/02/2014,Tuesday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0,F
3,4.0,5.0,M,23/07/2014 17.02,07/08/2014,Thursday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,NaN,H,0.0,1.0,M
4,5.0,38.0,M,21/10/2015 15.20,27/10/2015,Tuesday,0.0,NaN,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,1.0,M

In [317]:
train_test['Jenis_Kelamin']=train_test['Salutation']

In [318]:
train_test['Jenis_Kelamin'].isnull().sum()

0

In [319]:
train_test.drop('Salutation', axis=1, inplace = True)

In [320]:
train_test.head()

,ID,Usia,Jenis_Kelamin,Waktu_Pendaftaran,Waktu_Konsultasi,Hari,Dis_1,Dis_2,Dis_3,Dis_4,...,Dis_10,Dis_11,Dis_12,Dis_13,Dis_14,Dis_15,Dis_16,Dis_17,Subsidi,Sms_Reminder
0,1.0,19.0,M,16/12/2014 14.46,14/01/2015,Wednesday,0.0,NaN,1.0,0.0,...,0.0,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0
1,2.0,24.0,F,18/08/2015 07.01,19/08/2015,Wednesday,0.0,2.0,1.0,0.0,...,0.0,5.0,1.0,0.0,H,0.0,NaN,H,0.0,0.0
2,3.0,4.0,F,17/02/2014 12.53,18/02/2014,Tuesday,0.0,2.0,1.0,0.0,...,0.0,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0
3,4.0,5.0,M,23/07/2014 17.02,07/08/2014,Thursday,0.0,2.0,1.0,0.0,...,0.0,5.0,1.0,0.0,H,0.0,NaN,H,0.0,1.0
4,5.0,38.0,M,21/10/2015 15.20,27/10/2015,Tuesday,0.0,NaN,1.0,0.0,...,0.0,5.0,1.0,0.0,H,0.0,V,H,0.0,1.0

In [325]:
for col in missing_columns:
    train_test[col]=train_test[col].fillna(train_test[col].mode()[0])

In [322]:
missing_columns = []
for col in train_test.columns:
    if train_test[col].isnull().sum()!=0:
        missing_columns.append(col)

In [323]:
for col in missing_columns:
    print(col, train_test[col].unique())

Dis_1 [  0.   1.  nan]
Dis_2 [  2.  nan   7.  12.  17.  22.]
Dis_3 [  1.  nan   0.]
Dis_4 [  0.   1.  nan]
Dis_5 [  0.   1.  nan]
Dis_6 [  3.  nan   5.]
Dis_8 [  1.  nan   0.]
Dis_9 [  1.   0.  nan]
Dis_11 [  5.  nan   6.]
Dis_15 [  0.  -2.  -1.   1.  nan]
Dis_16 ['V' nan 'v']
Dis_17 ['H' nan 'h']
Subsidi [  0.   1.  nan]

In [326]:
for col in missing_columns:
    print(col, train_test[col].isnull().sum())

Dis_1 0
Dis_2 0
Dis_3 0
Dis_4 0
Dis_5 0
Dis_6 0
Dis_8 0
Dis_9 0
Dis_11 0
Dis_15 0
Dis_16 0
Dis_17 0
Subsidi 0

In [183]:
train_test.isnull().sum()

ID                   0
Usia                 0
Jenis_Kelamin        0
Waktu_Pendaftaran    0
Waktu_Konsultasi     0
Hari                 0
Dis_1                0
Dis_2                0
Dis_3                0
Dis_4                0
Dis_5                0
Dis_6                0
Dis_7                0
Dis_8                0
Dis_9                0
Dis_10               0
Dis_11               0
Dis_12               0
Dis_13               0
Dis_14               0
Dis_15               0
Dis_16               0
Dis_17               0
Subsidi              0
Sms_Reminder         0
dtype: int64

In [181]:
day_dummies=pd.get_dummies(train_test['Hari'])

In [182]:
day_dummies

     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0         0       0         0       0         0        0          1
1         0       0         0       0         0        0          1
2         0       0         0       0         0        1          0
3         0       0         0       0         1        0          0
4         0       0         0       0         0        1          0
5         0       0         0       0         0        1          0
6         0       0         0       0         0        1          0
7         1       0         0       0         0        0          0
8         0       0         0       0         0        1          0
9         0       0         0       0         0        1          0
10        0       1         0       0         0        0          0
11        0       1         0       0         0        0          0
12        0       1         0       0         0        0          0
13        0       0         0       0         1        0          0
14        0       0         0       0         1        0          0
15        0       1         0       0         0        0          0
16        0       0         0       0         1        0          0
17        0       1         0       0         0        0          0
18        0       0         0       0         0        0          1
19        0       0         0       0         1        0          0
20        1       0         0       0         0        0          0
21        0       0         0       0         0        1          0
22        0       1         0       0         0        0          0
23        0       0         0       0         1        0          0
24        0       0         0       0         1        0          0
25        0       0         0       0         0        0          1
26        1       0         0       0         0        0          0
27        1       0         0       0         0        0          0
28        0       0         0       0         0        0          1
29        0       0         0       0         0        1          0
..      ...     ...       ...     ...       ...      ...        ...
270       0       1         0       0         0        0          0
271       0       0         0       0         0        0          1
272       1       0         0       0         0        0          0
273       0       0         0       0         0        0          1
274       0       0         0       0         1        0          0
275       0       1         0       0         0        0          0
276       0       0         0       0         1        0          0
277       0       0         0       0         0        1          0
278       1       0         0       0         0        0          0
279       0       0         0       0         1        0          0
280       0       0         0       0         0        0          1
281       1       0         0       0         0        0          0
282       1       0         0       0         0        0          0
283       1       0         0       0         0        0          0
284       1       0         0       0         0        0          0
285       0       0         0       0         1        0          0
286       0       0         0       0         1        0          0
287       0       0         0       0         1        0          0
288       0       1         0       0         0        0          0
289       0       1         0       0         0        0          0
290       0       0         0       0         0        0          1
291       0       0         0       0         1        0          0
292       1       0         0       0         0        0          0
293       1       0         0       0         0        0          0
294       0       0         0       0         0        0          1
295       0       0         0       0         0        1          0
296       0       1         0       0         0        0          0
297       0       0         0       0         1        0          0
298       0       1         0       0         0        0          0
299       1       0         0       0         0        0          0

[300000 rows x 7 columns]

In [328]:
train_test.head()

,ID,Usia,Jenis_Kelamin,Waktu_Pendaftaran,Waktu_Konsultasi,Hari,Dis_1,Dis_2,Dis_3,Dis_4,...,Dis_10,Dis_11,Dis_12,Dis_13,Dis_14,Dis_15,Dis_16,Dis_17,Subsidi,Sms_Reminder
0,1.0,19.0,M,16/12/2014 14.46,14/01/2015,Wednesday,0.0,2.0,1.0,0.0,...,0.0,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0
1,2.0,24.0,F,18/08/2015 07.01,19/08/2015,Wednesday,0.0,2.0,1.0,0.0,...,0.0,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0
2,3.0,4.0,F,17/02/2014 12.53,18/02/2014,Tuesday,0.0,2.0,1.0,0.0,...,0.0,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0
3,4.0,5.0,M,23/07/2014 17.02,07/08/2014,Thursday,0.0,2.0,1.0,0.0,...,0.0,5.0,1.0,0.0,H,0.0,V,H,0.0,1.0
4,5.0,38.0,M,21/10/2015 15.20,27/10/2015,Tuesday,0.0,2.0,1.0,0.0,...,0.0,5.0,1.0,0.0,H,0.0,V,H,0.0,1.0

In [329]:
pendaftaran_tanggal = []
for data in train_test['Waktu_Pendaftaran']:
    pendaftaran_tanggal.append(data[:10])

In [330]:
pendaftaran_tanggal[1]

'18/08/2015'

In [339]:
train_test.head()

,ID,Usia,Jenis_Kelamin,Waktu_Pendaftaran,Waktu_Konsultasi,Hari,Dis_1,Dis_2,Dis_3,Dis_4,...,Dis_11,Dis_12,Dis_13,Dis_14,Dis_15,Dis_16,Dis_17,Subsidi,Sms_Reminder,Waktu Pendaftaran
0,1.0,19.0,M,16/12/2014,14/01/2015,Wednesday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0,16/12/2014
1,2.0,24.0,F,18/08/2015,19/08/2015,Wednesday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0,18/08/2015
2,3.0,4.0,F,17/02/2014,18/02/2014,Tuesday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0,17/02/2014
3,4.0,5.0,M,23/07/2014,07/08/2014,Thursday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,1.0,23/07/2014
4,5.0,38.0,M,21/10/2015,27/10/2015,Tuesday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,1.0,21/10/2015

In [343]:
train_test['Waktu_Konsultasi'][0]

0    14/01/2015
0    22/05/2014
Name: Waktu_Konsultasi, dtype: object

In [342]:
import time
waktu_daftar = int(time.mktime(time.strptime(pendaftaran_tanggal[0],'%d/%m/%Y')))
waktu_konsultasi = int(time.mktime(time.strptime(train_test['Waktu_Konsultasi'][0],'%d/%m/%Y')))
jarak = (waktu_konsultasi - waktu_daftar)/(3600*24)

TypeError: strptime() argument 0 must be str, not <class 'pandas.core.series.Series'>

In [332]:
jarak

29.0

In [335]:
train_test['Waktu_Pendaftaran']=pendaftaran_tanggal

In [336]:
train_test.head()

,ID,Usia,Jenis_Kelamin,Waktu_Pendaftaran,Waktu_Konsultasi,Hari,Dis_1,Dis_2,Dis_3,Dis_4,...,Dis_11,Dis_12,Dis_13,Dis_14,Dis_15,Dis_16,Dis_17,Subsidi,Sms_Reminder,Waktu Pendaftaran
0,1.0,19.0,M,16/12/2014,14/01/2015,Wednesday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0,16/12/2014
1,2.0,24.0,F,18/08/2015,19/08/2015,Wednesday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0,18/08/2015
2,3.0,4.0,F,17/02/2014,18/02/2014,Tuesday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,0.0,17/02/2014
3,4.0,5.0,M,23/07/2014,07/08/2014,Thursday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,1.0,23/07/2014
4,5.0,38.0,M,21/10/2015,27/10/2015,Tuesday,0.0,2.0,1.0,0.0,...,5.0,1.0,0.0,H,0.0,V,H,0.0,1.0,21/10/2015

In [337]:
train_test=train_test.drop(train_test['Waktu Pendaftaran'], axis=1, inplace =True)

ValueError: labels ['16/12/2014' '18/08/2015' '17/02/2014' ..., '04/11/2014' '27/05/2015'
 '29/04/2015'] not contained in axis

In [198]:
to_dummies_col =['Jenis_Kelamin','Hari','Dis_14','Dis_16','Dis_17']

In [199]:
train_test_dum= pd.get_dummies(train_test, columns=to_dummies_col)

In [345]:
train_test_dum = train_test_dum.drop(['Waktu_Konsultasi','Waktu_Pendaftaran'], axis=1)

ValueError: labels ['Waktu_Konsultasi' 'Waktu_Pendaftaran'] not contained in axis

In [346]:
train_test_dum.head()

,ID,Usia,Dis_1,Dis_2,Dis_3,Dis_4,Dis_5,Dis_6,Dis_7,Dis_8,...,Hari_Tuesday,Hari_Wednesday,Dis_14_H,Dis_14_V,Dis_14_h,Dis_14_v,Dis_16_V,Dis_16_v,Dis_17_H,Dis_17_h
0,1.0,19.0,0.0,2.0,1.0,0.0,0.0,3.0,0.0,1.0,...,0,1,1,0,0,0,1,0,1,0
1,2.0,24.0,0.0,2.0,1.0,0.0,0.0,3.0,0.0,1.0,...,0,1,1,0,0,0,1,0,1,0
2,3.0,4.0,0.0,2.0,1.0,0.0,0.0,3.0,0.0,1.0,...,1,0,1,0,0,0,1,0,1,0
3,4.0,5.0,0.0,2.0,1.0,0.0,0.0,3.0,0.0,1.0,...,0,0,1,0,0,0,1,0,1,0
4,5.0,38.0,0.0,2.0,1.0,0.0,0.0,3.0,0.0,1.0,...,1,0,1,0,0,0,1,0,1,0

In [347]:
train_x = train_test_dum[:len(train)]
test_x = train_test_dum[len(train):]

In [348]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

rf = RandomForestClassifier()
nb = GaussianNB()
dectree = DecisionTreeClassifier()
logreg = LogisticRegression()

In [368]:
import numpy as np
from sklearn.model_selection import cross_val_score
clf=dectree
clf.fit(train_x, np.ravel(train_y))
score = cross_val_score(clf, train_x, np.ravel(train_y), cv=5, scoring='accuracy')

In [369]:
print(np.mean(score))

0.516736083476

In [366]:
test_x.head()

,ID,Usia,Dis_1,Dis_2,Dis_3,Dis_4,Dis_5,Dis_6,Dis_7,Dis_8,...,Hari_Tuesday,Hari_Wednesday,Dis_14_H,Dis_14_V,Dis_14_h,Dis_14_v,Dis_16_V,Dis_16_v,Dis_17_H,Dis_17_h
0,12.0,58.0,0.0,2.0,1.0,0.0,1.0,3.0,0.0,1.0,...,0,0,1,0,0,0,1,0,1,0
1,21.0,33.0,0.0,2.0,1.0,0.0,0.0,3.0,0.0,1.0,...,0,0,1,0,0,0,1,0,1,0
2,22.0,44.0,0.0,2.0,1.0,0.0,0.0,3.0,0.0,1.0,...,0,0,1,0,0,0,1,0,1,0
3,38.0,57.0,0.0,2.0,1.0,0.0,0.0,3.0,0.0,1.0,...,0,0,1,0,0,0,1,0,1,0
4,121.0,36.0,0.0,2.0,1.0,0.0,0.0,3.0,0.0,1.0,...,0,1,1,0,0,0,1,0,1,0

In [363]:
#clf.fit(train_x, np.ravel(train_y))
predict = clf.predict(test_x)

In [378]:
submit = pd.DataFrame()

submit['id']=test_x['ID']
submit['Label']=predict
submit.to_csv('hasil.csv',index=False)

In [375]:
submit

           id  Label
0        12.0    1.0
1        21.0    1.0
2        22.0    1.0
3        38.0    1.0
4       121.0    1.0
5       151.0    1.0
6       165.0    1.0
7       254.0    1.0
8       255.0    1.0
9       256.0    1.0
10      281.0    1.0
11      282.0    1.0
12      313.0    1.0
13      314.0    1.0
14      824.0    1.0
15      825.0    1.0
16      826.0    1.0
17      861.0    1.0
18      862.0    1.0
19      863.0    1.0
20     3799.0    1.0
21     3800.0    1.0
22     3801.0    1.0
23     3802.0    1.0
24     4075.0    1.0
25     4233.0    1.0
26     5034.0    1.0
27     5067.0    1.0
28     5068.0    1.0
29     5069.0    1.0
..        ...    ...
270  280498.0    1.0
271  280499.0    1.0
272  280500.0    1.0
273  284837.0    1.0
274  284838.0    1.0
275  284839.0    1.0
276  296849.0    1.0
277  296850.0    1.0
278  296851.0    1.0
279  298672.0    1.0
280  298673.0    1.0
281  304399.0    1.0
282  305029.0    1.0
283  307985.0    1.0
284  307986.0    1.0
285  308462.0    1.0
286  317746.0    1.0
287  317747.0    1.0
288  334647.0    1.0
289  334648.0    1.0
290  334649.0    1.0
291  342227.0    1.0
292  342506.0    1.0
293  342507.0    1.0
294  342591.0    1.0
295  342592.0    1.0
296  342649.0    1.0
297  342650.0    1.0
298  344112.0    1.0
299  344120.0    1.0

[300 rows x 2 columns]